<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Message Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
        })
    </script>
</head>
<body>
    <div class="container">
    <div class="jumbotron">
        <form method="POST" action="/messages">
        <h1 class="display-4">The Dojo Message Board</h1>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Name:</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" name="name" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Message:</span>
            </div>
            <textarea class="form-control" name="message" aria-label="With textarea"></textarea>
        </div>        
        <hr class="my-4">
        <button class="btn btn-success btn-lg" type="submit" role="button">Post Message</button>
    </div>
    
</form>
</body>
<% for (var x in posts) { %>
        <div class="jumbotron bg-warning" text-color="white">            
            <h3>"<%= posts[x].message%>"</h3>
            <p> - <%= posts[x].name%></p>
            <% for (var i of posts[x].comments) { %>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"><%= i.name%></div>
                    <div class="card-body">
                      <p class="card-text"><%= i.comment%></p>
                </div>
            </div>
            <% } %>
            <form method="POST" action="/messages/comments/<%= posts[x]._id%>">
            <div class="input-group input-group-lg">
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Name:</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" name="name" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">Comment:</span>
                </div>
                <textarea class="form-control" name="comment" aria-label="With textarea"></textarea>
            </div>        
            <hr class="my-4">
            <button class="btn btn-dark btn-lg" type="submit" role="button">Post Comment</button>
        </div>
    </form>
    <% } %>
    </body>
</div>

</html>