<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quarterbacks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style type ="text/css">
        .jumbotron{
            background-image: url("https://www.50-best.com/images/nfl_team_wallpapers/nfl_on_black_wallpaper.jpg") 
        }
    </style>
</head>
<body>
    <div class="jumbotron">
            <a href="/creator"><button type="button" class="btn btn-outline-dark">Create</button></a>
        <div class="row">
            <% for (var x in qbs) { %>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" name="pic" src="<%= qbs[x].pic%>" alt="Card image cap">
                    <div class="card-body">
                        <a href= "/<%= qbs[x]._id%>"><h5 class="card-title" name="name"><%= qbs[x].name%></h5></a>
                        <h5 class="card-title align-top" name="number">#<%= qbs[x].number%></h5>
                        <p class="card-text" name="info"><%= qbs[x].info%></p>
                    </div>
                    <div class="card-body">
                        <a href="/editor/<%= qbs[x].id%>" class="card-link">Edit</a>
                        <a href="/delete/<%= qbs[x].id%>" class="card-link">Delete</a>
                    </div>            
                </div>
            </div>
            <% } %>      
    </div>
</div>
</body>
</html>